# Server Configuration
PORT=3000
NODE_ENV=production
FRONTEND_URL=http://localhost:5173

# Database
MONGO_URI=mongodb://localhost:27017/quick-delivery

# JWT Configuration
JWT_ACCESS_SECRET=your-super-secret-access-key-change-in-production
JWT_REFRESH_SECRET=your-super-secret-refresh-key-change-in-production
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d

# Cloudinary Configuration
CLOUDINARY_NAME=dyuqgabyu
CLOUDINARY_API_KEY=592445483197565
CLOUDINARY_API_SECRET=UoCDq66Fi0cLYK8JaiREirQlBSs
